# Google Cloud credentials
!package.json
!package-lock.json
ywca-chatanalyzer-e829d0e72c29.json
# Add any other json files you want to track with an exception like above


# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class

venv
venv/
.venv
